.root {
  padding: 40px;
}
.subject {
  font-size: 25px;
  color: rgb(141, 136, 136);
}
.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 7px;
  font-size: 20px;
  color: rgb(141, 136, 136);
}
.gridItem {
  padding: 20px;
}
.number {
  display: inline;
  border: 3px solid darkorange;
  color: darkorange;
  border-radius: 2px;
  padding: 8px 13px 8px 13px;
  font-weight: bold;
}
.exclamationMarkIcon {
  display: inline;
  border: 3px solid rgb(173, 55, 55);
  color: rgb(173, 55, 55);
  border-radius: 2px;
  padding: 5px 14px 5px 14px;
  font-size: 25px;
  font-weight: bold;
}
.tickIcon {
  display: inline;
  border: 3px solid rgb(83, 165, 83);
  color: rgb(83, 165, 83);
  border-radius: 2px;
  padding: 5px 8px 5px 9px;
  font-size: 25px;
  font-weight: bold;
}
