.root {
  padding: 40px;
  font-size: 20px;
}
.subject {
  font-size: 25px;
  color: rgb(141, 136, 136);
}
.radio {
  color: rgb(141, 136, 136);
}
.noteicon {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 3px;
}
.pollicon {
  width: 37px;
  height: 37px;
  margin-right: 5px;
  border-radius: 3px;
}
.questionicon {
  width: 37px;
  height: 37px;
  margin-right: 5px;
  border-radius: 5px;
}
.textbox {
  border: 1px solid rgb(141, 136, 136);
  border-radius: 5px;
  width: 600px;
  height: 100px;
}
.textbox2 {
  border: 1px solid rgb(141, 136, 136);
  border-radius: 5px;
  width: 400px;
  height: 30px;
}
.addbutton {
  width: 70px;
  height: 33px;
  color: white;
  border: 1px solid rgb(141, 136, 136);
  border-radius: 2px;
  background-color: rgb(141, 136, 136);
}
.side {
  padding-left: 88px;
  display: inline-block;
}
