.root {
  background-color: white;
  padding: 20px;
  height: 100%;
  width: 310px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: 200ms;
}
.selected {
  box-shadow: inset 0px 0px 2px 1px darkgrey;
}
.date {
  float: right;
  color: rgb(141, 136, 136);
}
.subject {
  font-weight: bold;
  color: rgb(141, 136, 136);
}
.text {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(141, 136, 136);
}
