.body {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #484a4c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.25;
  min-height: 400px;
  height: 100%;
  width: 100%;
  background-image: -webkit-linear-gradient(
    top,
    rgb(243, 243, 244) 0%,
    rgb(222, 224, 226) 100%
  );
}

.content {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 375px);
}
