.number {
  display: inline;
  border: 3px solid darkorange;
  color: darkorange;
  border-radius: 2px;
  padding: 8px 13px 8px 13px;
  font-weight: bold;
}
.exclamationMarkIcon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 3px solid rgb(173, 55, 55);
  border-radius: 2px;
  padding: 3px;
}
.tickIcon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 3px solid rgb(83, 165, 83);
  border-radius: 2px;
  padding: 3px;
}
.subject {
  font-size: 25px;
  color: rgb(141, 136, 136);
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto;

  padding: 7px;

  font-size: 20px;
  color: rgb(141, 136, 136);
}
.gridItem {
  padding: 20px;
}
.text {
  display: inline;
}
