.root {
  position: absolute;
  height: 80%;
  width: 68.5%;
  margin: 30px 30px 10px 405px;
  background-color: white;
  display: block;
}

.k {
  padding: 30px 30px 30px 30px;
  background-color: white;
}
