.root {
  padding: 40px;
  font-size: 20px;
}
.subject {
  font-weight: bold;
}
.radio {
  color: rgb(141, 136, 136);
}
.img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.textbox {
  border: 1px solid rgb(141, 136, 136);
  border-radius: 5px;
  width: 600px;
  height: 100px;
}
.textbox2 {
  border: 1px solid rgb(141, 136, 136);
  border-radius: 5px;
  width: 400px;
  height: 30px;
}
.addbutton {
  width: 70px;
  height: 33px;
  color: white;
  border: 1px solid rgb(141, 136, 136);
  border-radius: 2px;
  background-color: rgb(141, 136, 136);
}
