.root {
  background-color: white;
  padding: 20px;
  height: 100%;
  width: 310px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 3px;
}
.date {
  float: right;
}
.subject {
  font-weight: bold;
}
