.top {
  height: 100%;
  width: 375px;
  border-right: 5px solid white;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
.side1 {
  padding: 25px;
  border-bottom: 5px solid white;
}
.side1 div {
  display: inline;
}

.side2 {
  padding: 10px;
}
