.top {
  border-top: 5px solid white;
}
.side1 {
  padding: 25px;
  width: 320px;
  border-right: 5px solid white;

  border-bottom: 5px solid white;
}
.side2 {
  padding: 25px;
  width: 320px;
  border-right: 5px solid white;
}
